In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("./Dataset/আ_36606b04_Right Hand_20250423_120748.csv")
data2 = pd.read_csv("./Dataset/আ_36606b04_Right Hand_20250423_120805.csv")

In [8]:
data.head()

,timestamp,user_id,hand_preference,acc_x,acc_y,acc_z,gyro_x,gyro_y,gyro_z
0,0.001511,36606b04,Right Hand,0.07,-0.09,0.99,-0.22,0.11,0.34
1,0.001687,36606b04,Right Hand,0.07,-0.09,0.99,-0.22,0.11,0.34
2,0.001727,36606b04,Right Hand,0.07,-0.09,0.99,-0.22,0.11,0.34
3,0.078247,36606b04,Right Hand,0.07,-0.09,0.99,-0.22,0.11,0.34
4,0.079078,36606b04,Right Hand,0.07,-0.09,0.99,-0.22,0.11,0.34

## Keep only acc_x, acc_y, acc_z

In [6]:
acc = data[['acc_x', 'acc_y', 'acc_z']].copy()
acc2 = data2[['acc_x', 'acc_y', 'acc_z']].copy()

In [7]:
acc.head()

   acc_x  acc_y  acc_z
0   0.07  -0.09   0.99
1   0.07  -0.09   0.99
2   0.07  -0.09   0.99
3   0.07  -0.09   0.99
4   0.07  -0.09   0.99

##  Apply smoothing (leaky integrator)

In [9]:
def leaky_integrator(signal, lambda_=0.9):
    smoothed = [signal[0]]
    for i in range(1, len(signal)):
        smoothed.append(lambda_ * smoothed[i - 1] + (1 - lambda_) * signal[i])
    return smoothed

acc['x_smooth'] = leaky_integrator(acc['acc_x'])
acc['y_smooth'] = leaky_integrator(acc['acc_y'])
acc['z_smooth'] = leaky_integrator(acc['acc_z'])

acc2['x_smooth'] = leaky_integrator(acc2['acc_x'])
acc2['y_smooth'] = leaky_integrator(acc2['acc_y'])
acc2['z_smooth'] = leaky_integrator(acc2['acc_z'])

In [10]:
acc2.head()

   acc_x  acc_y  acc_z  x_smooth  y_smooth  z_smooth
0  -0.05  -0.09   0.96     -0.05     -0.09      0.96
1  -0.05  -0.09   0.96     -0.05     -0.09      0.96
2  -0.05  -0.09   0.96     -0.05     -0.09      0.96
3  -0.05  -0.09   0.96     -0.05     -0.09      0.96
4  -0.05  -0.09   0.96     -0.05     -0.09      0.96

## Normalizing data

In [11]:
from scipy.stats import zscore

acc['x_norm'] = zscore(acc['x_smooth'])
acc['y_norm'] = zscore(acc['y_smooth'])
acc['z_norm'] = zscore(acc['z_smooth'])

acc2['x_norm'] = zscore(acc2['x_smooth'])
acc2['y_norm'] = zscore(acc2['y_smooth'])
acc2['z_norm'] = zscore(acc2['z_smooth'])

In [13]:
acc[['x_norm', 'y_norm', 'z_norm']].to_csv('আ_preprocessed_1.csv', index=False)

In [14]:
acc2[['x_norm', 'y_norm', 'z_norm']].to_csv('আ_preprocessed_2.csv', index=False)